.container {
	width: 100%;
	max-width: calc(1280px + (40px * 2));
	padding: 0 40px;
	margin: 0 auto;
	@media(max-width: 1366px) {
		max-width: 1180px;
	}
	@media(max-width: 768px) {
		padding: 0px 32px;
	}
}